<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844885580048-f6cq3a9ds47rj01ecmbgim0kkoj492l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844885580048-f6cq3a9ds47rj01ecmbgim0kkoj492l4</string>
	<key>API_KEY</key>
	<string>AIzaSyDksyv9w4aY0cFUdfTf4BHid4zrFxDpXI4</string>
	<key>GCM_SENDER_ID</key>
	<string>844885580048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-c7b90</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-c7b90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844885580048:ios:383a9525571f4dcad1ad95</string>
</dict>
</plist>